﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/selectizejs/css/selectize.bootstrap3.css" rel="stylesheet" />
    <link href="~/Content/Styles/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Doctor's Diary</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">FAQ</a></li>
                <li><a href="#">Help</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="email" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="password" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </nav>
    <div id="bodyContent">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="font-size: 40px;">
                    Find your doctor
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="sel" class="navbar-btn form-control"></select>
                        </div>
                        <div class="col-md-6"><input type="text" class="form-control navbar-btn" placeholder="location" /></div>
                    </div>
                </div>
                <div class="col-md-2"><button type="button" class="btn btn-primary navbar-btn">Find Doctors</button></div>
            </div>
        </div>
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/selectizejs/js/standalone/selectize.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $.ajax({
            type: "GET",
            url: "/api/Speciality/GetAll"
        }).success(function (ret) {
            var selectValues = [];
            $.each(ret, function (key, value) {
                selectValues.push('<option value="' + value.Id + '">' + value.Name + '</option>');
            });

            $('#sel').html(selectValues.join(''));
        }).done(function () {
            $('#sel').removeClass('form-control').selectize({
                create: false,
                sortField: 'text'
            });
        })
    </script>
</body>
</html>
